@import '../index.scss';

.introduction,
.technologies,
.portfolio,
.projects {
  @include container();
}

.introduction {
  padding-top: 200px;
  // grid-template-columns: 1fr 1fr;
  // grid-row-gap: 64px;
}

.greyWrapper {
  margin: 32px 0;
  background-color: #fafafa;
}

.technologies {
  padding: 64px 0;
}

.fourgroup {
  grid-template-columns: repeat(4, 1fr);
  padding: 32px 0;
  justify-items: center;
  grid-row-gap: 32px;
}

.otherSkills {
  border-radius: 5px;
  padding: 24px 48px;
  background-color: white;
  box-shadow: 0px 5px 15px lightgray;
  margin-top: 16px;
  column-count: 3;

  li {
    margin-bottom: 8px;
  }
}

.introduction,
.fourgroup {
  display: grid;
  grid-column-gap: 24px;
}

.bio {
  clip-path: polygon(0 150px, 100% 0px, 100% 100%, 0% 100%);
  background-color: $white;
  margin-top: 400px;
  padding-bottom: 24px;
}

.title {
  margin-bottom: 8px;
}

.intro {
  margin-bottom: 32px;
}

.statement {
  max-width: 700px;
}

.hiddenContent {
  display: none;
}

.project {
  padding: 32px 0;
  // height: 150px;
  border-radius: 5px;
  margin: 8px;
  padding: 24px;
  box-shadow: 0px 5px 15px $light;
  transition: 200ms;

  &:hover {
    box-shadow: 0px 10px 15px 5px silver;
    padding-bottom: 75px;
  }

  &:hover .hiddenContent {
    display: block;
  }
}

.wells,
.pressed,
.time,
.purecrypt {
  position: relative;
}

.techItem {
  margin: 4px;
}

.buttonGroup {
  position: absolute;
  right: 24px;
  bottom: 32px;

  & > a {
    padding: 8px 16px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid;
    border-color: inherit;

    i {
      margin-right: 8px;
    }
  }
}

.wells {
  background-color: gold;
}

.pressed {
  background-color: MediumSeaGreen;
  color: white;
}

.time {
  background-color: dodgerblue;
  color: white;
}
.purecrypt {
  background-color: tomato;
  color: white;
}

@media screen and (max-width: $mobile) {
  .fourgroup {
    grid-template-columns: repeat(2, 1fr);
  }

  .otherSkills {
    column-count: 2;
  }
}
