@import '../index.scss';

.header {
  position: absolute;
  width: 100%;
  top: 0;
  max-width: 998px;
  margin: 0 auto;
}

.headerPhoto {
  /* The image used */
  background-image: url('../../images/portfolio-site-header.jpg');

  /* Full height */
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
