@import '../index.scss';

.top {
  height: 50vh;
  background-color: green;
  color: white;
  display: grid;
  align-items: center;
}

.info {
  @include container();
  height: 150px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.techItem {
  margin: 4px;
}

.image {
  height: 50vh;
  background-image: url(../../images/pressed-juicery.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: $mobile) {
  .info {
    width: 50%;
  }
}
